# Virtual Environment
venv/
.env/

# Environment variables file
.env

# JSON files (optional - be careful)
*.json
*.jpg

# for .docx extensions files
*.docx


# Python cache
__pycache__/
*.pyc


# PDF files
*.pdf

# OCR output text
*.txt


/extracted_images2
/extracted_content
/faiss_index

