# Virtual Environment
venv/
.env/

# Environment variables file
.env

# JSON files (optional - be careful)
*.json
*.jpg

# for .docx extensions files
*.docx

*.DS_Store

# Python cache
__pycache__/
*.pyc


# PDF files
*.pdf

*.png

# OCR output text
*.txt


/extracted_images2
/extracted_content
/faiss_index
/metadata_faiss_index
/brand_faiss_index
/faiss_index
/strategy_faiss_index
 
/test.py
/indira_foods
/cognixia
/Niroggi

