# Virtual Environment
venv/
.env/

# Environment variables file
.env

# JSON files (optional - be careful)
*.json

# Python cache
__pycache__/
*.pyc


# PDF files
*.pdf

# OCR output text
ocr_extracted_text_new.txt

